@import "~bootstrap/scss/bootstrap";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

.jumbotron {
    padding-left: 20px;
    padding-right: 20px;
    height: 400px;
    max-height: 400px;
}

.page-title {
    font-size: 3rem;
    color: #222;
    font-weight: bold;
}

.page-content {
    padding: 0px 20px;
}

body.theme-default {
    .page-title {
        text-shadow: 5px 2px 15px #fff;
    }
}

body.theme-dark-forest {
    background-color: #031903;
    color: #eee;

    .page-title {
        text-shadow: 5px 2px 15px #cfc;
    }

    code {
        color: #0f0;
    }

    pre {
        color: #0f0;
    }
}

body.theme-dark-steel-blue {
    background-color: #0a1c27;
    color: #eee;

    .page-title {
        text-shadow: 5px 2px 15px #ccf;
    }

    code {
        color: #0f0;
    }

    pre {
        color: #0f0;
    }
}
